.devcontainer
.env
.env.example
.git
.gitignore
.github
.husky
.lintstagedrc
.nvmrc
.nx
.pnpm-store
.prettier*
.husky
**/node_modules
**/dist
npm-debug.log
docker-compose.yml
Dockerfile
fly.toml
knip.json
README.md
services
