name: Test

on: push

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Install pnpm
        uses: pnpm/action-setup@v4

      - name: Install Node.js
        uses: actions/setup-node@v5
        with:
          node-version-file: ".nvmrc"
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm install --ignore-scripts

      - name: Run build
        run: pnpm run build:all

      - name: Run tests
        run: |
          cp .env.example .env
          source .env
          pnpm run test

      - name: Check formatting
        run: pnpm run prettier
